@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Century_Gothic_Italic.woff') format('woff');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
}

@font-face {
font-family: 'Century Gothic';
src: url('../fonts/Century_Gothic_Bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Century_Gothic.woff') format('woff');
            font-weight: 400;
            font-display: swap;
            font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Century_Gothic_Bold_Italic.woff') format('woff');
         font-weight: 800;
         font-display: swap;
         font-style: italic;
}