.info-button {
    position: relative;
    width: 24px;
    height: 24px;
    transition: .2s ease-out;
    cursor: pointer;
    z-index: 5000;
    align-self: self-end;

    & svg {
        width: 24px;
    }

    &--blue {
        
        & path {
            fill: $blueDarker;
        }

        & .info-content {
            border-color: $blueDarker !important;
            color: $blueDarker;
        }
    }

    &--yellow {
        
        & path {
            fill: $yellow;
        }

        & .info-content {
            border-color: $yellow !important;
            color: $yellow;
        }
    }

    & .info-content {
        display: none;
        position: absolute;
        padding: 1rem;
        background-color: $white;
        border: 1px solid transparent;
        border-radius: 2px;
        width: 200px;
        text-align: left;
        top: 30px;
        left: 0;

        &__text {
            font-size: 1.2rem;
            font-weight: normal;
            width: 100%;
        }        
    }

    &--show .info-content {
        display: block !important;
        
    }

    &:hover svg {
        transform: rotate(15deg);
    }

    &:active {
        transform: scale(.8);
    }
}